@model RPS.JoinGame
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/game/_Layout.cshtml";
    ViewData["Title"] = "Join game";
}

<h1>Join Game</h1>

<h3>hmm..</h3>

<form class="pure-form" asp-route="join" method="post">
    @Html.EditorForModel()
    <button class="pure-button" type="submit">Join</button>
</form>



