name: Github package

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env : 
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    - name: Pack
      run: dotnet pack src/Fiffi/Fiffi.csproj --configuration Release -o artifacts
    - name: Publish artifact
      uses: actions/upload-artifact@master
      with:
        name: artifacts
        path: artifacts/**/*
    - name: PushGithub
      run: dotnet nuget push ./artifacts/**.nupkg --skip-duplicate
      env:
        NUGET_AUTH_TOKEN: ${{ github.token }}
    - name: Push to GitHub Packages
      uses: docker/build-push-action@v1
      with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: perokvist/fiffi/samples/rps/rps.web/
          tag_with_ref: true
